* {
  box-sizing:border-box;
}

body {
  font-family:sans-serif;
  display:flex;
  justify-content:center;
  flex-direction:column;
  text-align:center;
  background:rgb(235, 208, 183);
}

#blur {
     font-size: 40px;
     color: transparent;
     text-shadow: 0 0 8px #white;
     filter: blur(2.5px);
       -webkit-filter: blur(2.5px);
   }

path {
  fill: transparent;
}


.red {
  font-family:sans-serif;
  font-size:30px;
  line-height:0.3;
  padding:15px;
  color:rgb(176, 53, 53);
  margin-top:300px;
}

.red:hover {
  font-size:0;
}

.red:hover:after {
  content: attr(data-hover);
  font-size:30px;
}

.orange {
  font-family:sans-serif;
  font-size:30px;
  line-height:0.3;
  padding:15px;
  color:rgb(228, 135, 25);
}

.orange:hover {
  font-size:0;
}

.orange:hover:after {
  content: attr(data-hover);
  font-size:30px;
}


.yellow {
  font-family:sans-serif;
  font-size:30px;
  line-height:0.3;
  padding:15px;
  color:rgb(255, 236, 136);
}

.yellow:hover {
  font-size:0;
}

.yellow:hover:after {
  content: attr(data-hover);
  font-size:30px;
}

.green {
  font-family:sans-serif;
  font-size:30px;
  line-height:0.3;
  padding:15px;
  color:rgb(87, 161, 68);
}

.green:hover {
  font-size:0;
}

.green:hover:after {
  content: attr(data-hover);
  font-size:30px;
}

.blue {
  font-family:sans-serif;
  font-size:30px;
  line-height:0.3;
  padding:15px;
  color:rgb(40, 139, 176);
}

.blue:hover {
  font-size:0;
}

.blue:hover:after {
  content: attr(data-hover);
  font-size:30px;
}

.purple {
  font-family:sans-serif;
  font-size:30px;
  line-height:0.3;
  padding:15px;
  color:rgb(109, 73, 142);
}

.purple:hover {
  font-size:0;
}

.purple:hover:after {
  content: attr(data-hover);
  font-size:30px;
}
